{% extends "base.html" %}
{% block title %}Форма{% endblock %}

{% block content %}
<h2>Форма</h2>
{% if errors %}
{% for error in erroos %}
<p style="color: red;">{{error}}</p>
{% endfor %}
{% endif %}
<form method="post" style="display: flex; flex-direction: column; gap: 5px; max-width: 200px;">
  {% csrf_token %}
  <input type="text" name="first_name" placeholder="Имя" required>
  <input type="text" name="last_name" placeholder="Фамилия" required>
  <input type="number" name="age" placeholder="Возраст" required>
  <button type="submit">Отправить</button>
</form>
<div class="">
<p style="color: rgb(60, 178, 123);">{{last_author}}</p>
  {% for author in authors %}
  {% if not last_author == author %}
  <p> {{author.first_name}} {{author.last_name}} {{author.age}}</p>
  {% end if %}
  {% endfor %}
{% endblock %}