<!-- {% load static %}
{% block title %}Карточка пациента{% endblock %}
        {% block css %}
<link rel="stylesheet" href="{% static 'css/patient.css' %}">
        {% endblock %}
{% block content %}
<h1>{{ patient.surname }} {{ patient.name }}</h1>
<div id="patientCarousel" class="carousel slide square-carousel" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    {% if patient.foto %}
      <div class="carousel-item active">
        <img src="{{ patient.foto.url }}" class="d-block w-100" alt="Фото пациента">
      </div>
    {% endif %}

    {% for image in images %}
      <div class="carousel-item {% if not patient.foto and forloop.first %}active{% endif %}">
        <img src="{{ image.img.url }}" class="d-block w-100" alt="Фото пациента">
      </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#patientCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#patientCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<p><strong>Возраст:</strong> {{ patient.age_display }}</p>
<p><strong>Рост:</strong> {{ patient.rost }} см</p>
<p><strong>Вес:</strong> {{ patient.ves }} кг</p>
<p><strong>ИМТ:</strong> {{ patient.imt }}</p> -->